{% extends 'base.html.twig' %}
  {% block title %}All programs{% endblock %}
{% block body %}

<main>
<section class = "container">

    <h1>Tous les épisodes disponibles pour cette saison :  </h1>
    <a href= "/episode/crud">Ajouter/Modifier/Supprimer un épisode => CRUD EPISODE</a>
    <br>    <br>

  

    {% for episode in episodes %}





        <div class = "display-6">
        <ul>
        <li> <a href= "/programs/{{ serie }}/seasons/{{ saison }}/episode/{{ episode.slug }}">{{ episode.title }}</a> --> 
        

{% if app.user %}
         <a href ="http://127.0.0.1:8000/comment/new/{{ episode.id }}">Leave a comment</a>
{% endif %}


        </li>

        </ul>
        </div>
    {% else %}
        Aucun épisode trouvée.
    {% endfor %}

</section>
</main>

{% endblock %}
